.App 
    text-align: center
    background-color: #282c34
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    color: white

.button
    border-color: #282c34
    border-radius: 5px
    background-color: #282c34
    width: 12vh
    height: 12vh
    margin: 2vh
    font-size: calc(10px + 2vmin)
    color: #282c34